/*our stylesheet for the project*/
/*and our <body> is a flex container*/

body{
    display: flex;
    padding: 10px;

}

div{
    background-color: gainsboro;
    border-color: black;
    border-width: 1px;
    padding: 15px;
}